<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body"
       *ngIf="product">
   <div class="wizard">
     <a [routerLink]="['info']" routerLinkActive="active" >Basic Information
       <span [ngClass]="{'fa fa-exclamation': !isValid('info')}"></span>
     </a>
     <a [routerLink]="['tags']" routerLinkActive="active" >Search Tags
      <span [ngClass]="{'fa fa-exclamation': !isValid('tags')}"></span>
     </a>
   </div>
   <router-outlet></router-outlet>
   <div class="row mb-2">
     <div class="col-md-4"></div>
     <button type="button" class="btn btn-primary mr-3" title="Save your product info" style="width: 80px;" [disabled]="!isValid()" (click)="saveProduct()">Save</button>
     <button type="button" class="btn btn-outline-secondary mr-3" title="Cancel product info" style="width: 80px;" [routerLink]="['/products']" routerLinkActive="router-link-active" >Cancel</button>
     <button type="button" class="btn btn-outline-warning mr-3" title="Delete product info" style="width: 80px;" (click)="deleteProduct()" routerLinkActive="router-link-active" >Delete</button>
   </div>
  </div>
</div>

<div class="alert alert-danger"
     *ngIf="errorMessage">{{errorMessage}}
</div>
